.common-form
{
    display: flex;
    flex-direction:column;
    width: 300px;
    margin: auto;
}
.form-button{
    height: 35px;
    border: 1px solid blueviolet;
    color: blueviolet;
    cursor: pointer;
}
.user-auth h1{
    margin-top: 50px;
    margin-bottom: 60px;
    color: blueviolet;
    text-align: center;
}
.form-input {
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid blueviolet;
    padding-left: 15px;
    color: blueviolet;
}
.user-auth {
    margin-top: 300px;
    margin-bottom: 150px;
}
.user-auth a{
    color: blueviolet;
    cursor: pointer;
}
.auth-toggle-link
{
    padding-top: 20px;
    color: blueviolet;
    text-align: center;
}
.user-auth h1
{
    color: blueviolet;
    font-size: 50px;
}