<app-header></app-header>
<div class="body">
  <div class="body-bigtext">
    <p>Revolutionize your</p>
    <p>business with<span class="green-text"> AI</span></p>
    <p><span class="machine">machines</span></p>
  </div>
  <div class="small-text">
    <p>Machine learning builds a model based on sample data, known as training data,<br> in order to make predictions or decisions</p>
    <div class="GetStartedBtn">
      <button class="button-style">Get Started</button>
    </div>
    <div class="PlayBtn">
      <button class="play-button">&#9654;</button>
    </div>
    <p class="watch-intro-video">Watch Intro Video</p>
  </div>
  <ng-container *ngIf="showSignup">
    <app-user-auth></app-user-auth>
  </ng-container>


</div>