.body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
}

nav {

  padding-left: 65%;
 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}


.body-bigtext {
  font-size: 70px;
  padding-left: 250px;
  line-height: 0.5;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.green-text {
  color: green;
}

.machine {
  color: yellow;
}
.small-text
{
  font-size: 25px;
  padding-left: 250px;
  font-family: 'Oswald', sans-serif;

}
.button-style {
text-decoration: none; 
cursor: pointer;
background: none;
border: none;
padding: 0;
font-family: 'Oswald', sans-serif;
font-size: 22px;
color: white;
}


.GetStartedBtn {
padding: 10px 20px;
background-color: blueviolet;
border: none;
border-radius: 5px;
font-family: 'Oswald', sans-serif;
display: inline-block; 
margin-left: 20px; 
}
.PlayBtn,
.watch-intro-video {
display: inline-block;
margin-left: 25px; 
font-size: 20px;
}

.play-button {
width: 40px;
height: 40px;
border-radius: 50%;
background-color: blueviolet;
border: none;
color: white;
font-size: 20px;
cursor: pointer;
}
.GetStartedBtn,
.PlayBtn,
.watch-intro-video {
position: relative;
z-index: 1; 
}

